* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    border-bottom: 1px solid #f1f1f1;
    background-color: rgb(6, 86, 113);
}

header .logo {
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.logo span {
    color: aquamarine;
}

.nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a { 
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-links a:hover {
    color: aquamarine;
}

header a { 
    color: white;
    text-decoration: none;
}

.account-btn {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
}

.account-btn:hover {
    color: aquamarine;
}


.sidebar {
    width: 250px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: -270px;
    transition: 0.3s;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}
.sidebar.active {
    left: 0;
}
.menu-toggle {
    font-size: 24px;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}
.sidebar .profile {
    text-align: center;
}
.sidebar .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebar ul li i {
    margin-right: 10px;
}
.logout {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background: red;
    border-radius: 5px;
}
.main-content {
    margin-left: 50px;
    padding: 20px;
    width: calc(100% - 50px);
    transition: 0.3s;
}
.sidebar.active + .main-content {
    margin-left: 270px;
}