body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard-cont {
    display: flex;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
    background-color: white;
}

.sidebar {
    width: 250px;
    background-color: #e0e0e0;
    padding: 20px 0;
    border-right: 1px solid #ddd;
}
.user-info {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar { /* Placeholder for user avatar */
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
}
.user-details h3 { /* Placeholder for user name */
    margin: 0;
    font-size: 18px;
}
.user-details p { /* Placeholder for user email */
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}
.menu-item {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item a {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.menu-item:hover {
    background-color: #d0d0d0;
}
.menu-item.active {
    background-color: rgb(6, 86, 113);
    font-weight: bold;
}
.icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}